body, html {
	height: 100%;
	background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
	background:black;
	position: relative;
  font-family: 'Archivo', sans-serif;
}
#login-box {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	min-width: 350px;
	margin: 0 auto;
  border-radius: 16px;
	background: rgba(48, 46, 45, 1);
	min-height: 250px;
	padding: 20px;
	z-index: 9999;
}
#login-box .logo .logo-caption {
	color: white;
	text-align: center;
	margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
}
#login-box .logo .tweak {
	color: #df8a12;
}
#login-box .controls {
	padding-top: 30px;
}
#login-box .controls input {
	border-radius: 6px;
	border-radius: 6px;
	background: rgb(98, 96, 96);
	border: 0px;
	color: white;
  height: 45px;
  margin-bottom: 20px;
}
#login-box .controls input:focus {
	box-shadow: none;
}
#login-box .controls input:first-child {
	border-radius: 6px;
	border-radius: 6px;
  margin-bottom: 20px;
  height: 45px;
}
#login-box .controls input:last-child {
	border-radius: 6px;
	border-radius: 6px;
  margin-bottom: 20px;
}
#login-box button.btn-custom {
	border-radius: 2px;
	margin-top: 20px;
	background:#df8a12;
	border-color: rgba(48, 46, 45, 1);
	color: white;
  height: 45px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
}
#login-box button.btn-custom:focus {
  outline: none;
}
#login-box button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #e98a06;
}
#login-box .frg-psw-url {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #df8a12;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index:1;
}